.css_dimension_det_label {text-align: right;vertical-align: middle;}
.css_dimension_det_line {height:0px;text-align: right;}
.css_zscj_det_label {text-align: right;vertical-align: middle;}
.css_zscj_det_line {height:0px;text-align: right;}
.css_weight_det_label {text-align: right;vertical-align: middle;}
.css_weight_det_line {height:0px;text-align: right;}
