.css_dimension_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dimension_grid_line {vertical-align: top;text-align: left;}
.css_zscj_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zscj_grid_line {vertical-align: top;text-align: right;}
.css_weight_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_weight_grid_line {vertical-align: top;text-align: right;}
.css_indexbh_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_indexbh_grid_line {vertical-align: top;text-align: right;}
