.css_dimension_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dimension_grid_line {vertical-align: top;text-align: right;}
.css_content_label {text-align:left;vertical-align:middle;font-weight:normal;}
.css_content_grid_line {vertical-align: top;text-align: right;}
.css_weight_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_weight_grid_line {vertical-align: top;text-align: right;}
.css_list_order_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_list_order_grid_line {vertical-align: top;text-align: right;}
