.css_dimension_det_label {text-align: left;vertical-align: middle;}
.css_dimension_det_line {height:0px;text-align: left;}
.css_content_det_label {text-align: left;vertical-align: middle;}
.css_content_det_line {height:0px;text-align: left;}
.css_weight_det_label {text-align: left;vertical-align: middle;}
.css_weight_det_line {height:0px;text-align: left;}
.css_list_order_det_label {text-align: left;vertical-align: middle;}
.css_list_order_det_line {height:0px;text-align: left;}
