.css_j_xmmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_j_xmmc_grid_line {vertical-align: top;text-align: left;}
.css_b_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_b_cgbbh_grid_line {vertical-align: top;text-align: left;}
.css_b_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_b_cgbmc_grid_line {vertical-align: top;text-align: left;}
.css_b_cgpm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_b_cgpm_grid_line {vertical-align: top;text-align: left;}
.css_b_cgys_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_b_cgys_grid_line {vertical-align: top;text-align: right;}
.css_b_cgys_tot_ger {text-align: ;}
.css_j_xmbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_j_xmbh_grid_line {vertical-align: top;text-align: left;}
.css_j_ysje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_j_ysje_grid_line {vertical-align: top;text-align: right;}
