.css_b_cgbbh_det_label {text-align: right;vertical-align: middle;}
.css_b_cgbbh_det_line {height:0px;text-align: right;}
.css_b_cgbmc_det_label {text-align: right;vertical-align: middle;}
.css_b_cgbmc_det_line {height:0px;text-align: right;}
.css_b_cgpm_det_label {text-align: right;vertical-align: middle;}
.css_b_cgpm_det_line {height:0px;text-align: right;}
.css_b_cgys_det_label {text-align: right;vertical-align: middle;}
.css_b_cgys_det_line {height:0px;text-align: right;}
.css_j_xmbh_det_label {text-align: right;vertical-align: middle;}
.css_j_xmbh_det_line {height:0px;text-align: right;}
.css_j_xmmc_det_label {text-align: right;vertical-align: middle;}
.css_j_xmmc_det_line {height:0px;text-align: right;}
.css_j_ysje_det_label {text-align: right;vertical-align: middle;}
.css_j_ysje_det_line {height:0px;text-align: right;}
