.css_htbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htbh_grid_line {vertical-align: top;text-align: right;}
.css_htmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htmc_grid_line {vertical-align: top;text-align: right;}
.css_qdrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_qdrq_grid_line {vertical-align: top;text-align: center;}
.css_qydw_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qydw_grid_line {vertical-align: top;text-align: right;}
.css_htje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_htje_grid_line {vertical-align: top;text-align: right;}
.css_htje_tot_ger {text-align: ;}
.css_shzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shzt_grid_line {vertical-align: top;text-align: right;}
.css_splc_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splc_grid_line {text-align: right;}
.css_splcxx_label {text-align:;vertical-align:middle;font-weight:bold;}
.css_splcxx_grid_line {text-align: center;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_cgybh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgybh_grid_line {vertical-align: top;text-align: right;}
.css_cgyxm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgyxm_grid_line {vertical-align: top;text-align: right;}
.css_cgylxdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgylxdh_grid_line {vertical-align: top;text-align: right;}
.css_cgfs_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgfs_grid_line {vertical-align: top;text-align: right;}
.css_htlx_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htlx_grid_line {vertical-align: top;text-align: right;}
.css_qydwlxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qydwlxr_grid_line {vertical-align: top;text-align: right;}
.css_qydwlxrdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qydwlxrdh_grid_line {vertical-align: top;text-align: right;}
.css_zbj_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zbj_grid_line {vertical-align: top;text-align: right;}
.css_zbj_tot_ger {text-align: ;}
.css_zbdqrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_zbdqrq_grid_line {vertical-align: top;text-align: center;}
