.css_cgbbh_det_label {text-align: left;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: left;}
.css_cgbmc_det_label {text-align: left;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: left;}
.css_cgybh_det_label {text-align: left;vertical-align: middle;}
.css_cgybh_det_line {height:0px;text-align: left;}
.css_cgyxm_det_label {text-align: left;vertical-align: middle;}
.css_cgyxm_det_line {height:0px;text-align: left;}
.css_cgylxdh_det_label {text-align: left;vertical-align: middle;}
.css_cgylxdh_det_line {height:0px;text-align: left;}
.css_cgfs_det_label {text-align: left;vertical-align: middle;}
.css_cgfs_det_line {height:0px;text-align: left;}
.css_htmc_det_label {text-align: left;vertical-align: middle;}
.css_htmc_det_line {height:0px;text-align: left;}
.css_htbh_det_label {text-align: left;vertical-align: middle;}
.css_htbh_det_line {height:0px;text-align: left;}
.css_htlx_det_label {text-align: left;vertical-align: middle;}
.css_htlx_det_line {height:0px;text-align: left;}
.css_htje_det_label {text-align: left;vertical-align: middle;}
.css_htje_det_line {height:0px;text-align: left;}
.css_qdrq_det_label {text-align: left;vertical-align: middle;}
.css_qdrq_det_line {height:0px;text-align: left;}
.css_qydw_det_label {text-align: left;vertical-align: middle;}
.css_qydw_det_line {height:0px;text-align: left;}
.css_qydwlxr_det_label {text-align: left;vertical-align: middle;}
.css_qydwlxr_det_line {height:0px;text-align: left;}
.css_qydwlxrdh_det_label {text-align: left;vertical-align: middle;}
.css_qydwlxrdh_det_line {height:0px;text-align: left;}
.css_zbj_det_label {text-align: left;vertical-align: middle;}
.css_zbj_det_line {height:0px;text-align: left;}
.css_zbdqrq_det_label {text-align: left;vertical-align: middle;}
.css_zbdqrq_det_line {height:0px;text-align: left;}
.css_shzt_det_label {text-align: left;vertical-align: middle;}
.css_shzt_det_line {height:0px;text-align: left;}
