.css_zbggbh__label {text-align:right;}
.css_zbggbh__line {text-align:left;}
.css_zbggbh__obj {text-align:left;}
.css_cgbbh__label { }
.css_cgbbh__line { }
.css_cgbbh__obj { }
.css_cgbmc__label { }
.css_cgbmc__line { }
.css_cgbmc__obj { }
.css_qymc__label { }
.css_qymc__line { }
.css_qymc__obj { }
.css_bj__label {text-align:right;}
.css_bj__line {text-align:left;}
.css_bj__obj {text-align:left;}
.css_tjsj__label { }
.css_tjsj__line { }
.css_tjsj__obj { }
.css_isflag__label { }
.css_isflag__line { }
.css_isflag__obj { }
