.css_name_det_label {text-align: left;vertical-align: middle;}
.css_name_det_line {height:0px;text-align: left;}
.css_summary_det_label {text-align: left;vertical-align: middle;}
.css_summary_det_line {height:0px;text-align: left;}
