.css_name_det_label {text-align: right;vertical-align: middle;}
.css_name_det_line {height:0px;text-align: right;}
.css_summary_det_label {text-align: right;vertical-align: middle;}
.css_summary_det_line {height:0px;text-align: right;}
