.css_ygbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ygbh_grid_line {vertical-align: top;text-align: right;}
.css_ygxm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ygxm_grid_line {vertical-align: top;text-align: right;}
.css_xb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xb_grid_line {vertical-align: top;text-align: right;}
.css_bm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bm_grid_line {vertical-align: top;text-align: right;}
.css_zw_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zw_grid_line {vertical-align: top;text-align: right;}
.css_zjhm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zjhm_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_yddh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yddh_grid_line {vertical-align: top;text-align: right;}
.css_kyzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_kyzt_grid_line {vertical-align: top;text-align: right;}
