.css_zjbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zjbh_grid_line {vertical-align: top;text-align: left;}
.css_xm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xm_grid_line {vertical-align: top;text-align: left;}
.css_xb_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_xb_grid_line {vertical-align: top;text-align: left;}
.css_zc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_zc_grid_line {vertical-align: top;text-align: left;}
.css_yddh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yddh_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
