.css_title_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_title_grid_line {vertical-align: top;text-align: right;}
.css_author_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_author_grid_line {vertical-align: top;text-align: right;}
.css_releasetime_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_releasetime_grid_line {vertical-align: top;text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_content_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_content_grid_line {vertical-align: top;text-align: right;}
