.css_gsjc_det_label {text-align: left;vertical-align: middle;}
.css_gsjc_det_line {height:0px;text-align: left;}
.css_tyshxydm_det_label {text-align: left;vertical-align: middle;}
.css_tyshxydm_det_line {height:0px;text-align: left;}
.css_qylx_det_label {text-align: left;vertical-align: middle;}
.css_qylx_det_line {height:0px;text-align: left;}
.css_gsdz_det_label {text-align: left;vertical-align: middle;}
.css_gsdz_det_line {height:0px;text-align: left;}
.css_fddbr_det_label {text-align: left;vertical-align: middle;}
.css_fddbr_det_line {height:0px;text-align: left;}
.css_zczb_det_label {text-align: left;vertical-align: middle;}
.css_zczb_det_line {height:0px;text-align: left;}
.css_clrq_det_label {text-align: left;vertical-align: middle;}
.css_clrq_det_line {height:0px;text-align: left;}
.css_jyfw_det_label {text-align: left;vertical-align: middle;}
.css_jyfw_det_line {height:0px;text-align: left;}
.css_khyh_det_label {text-align: left;vertical-align: middle;}
.css_khyh_det_line {height:0px;text-align: left;}
.css_yhdz_det_label {text-align: left;vertical-align: middle;}
.css_yhdz_det_line {height:0px;text-align: left;}
.css_yhzh_det_label {text-align: left;vertical-align: middle;}
.css_yhzh_det_line {height:0px;text-align: left;}
.css_lxr_det_label {text-align: left;vertical-align: middle;}
.css_lxr_det_line {height:0px;text-align: left;}
.css_lxrdh_det_label {text-align: left;vertical-align: middle;}
.css_lxrdh_det_line {height:0px;text-align: left;}
.css_fax_det_label {text-align: left;vertical-align: middle;}
.css_fax_det_line {height:0px;text-align: left;}
.css_bgdh_det_label {text-align: left;vertical-align: middle;}
.css_bgdh_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_bz_det_label {text-align: left;vertical-align: middle;}
.css_bz_det_line {height:0px;text-align: left;}
.css_yyzzfile_det_label {text-align: left;vertical-align: middle;}
.css_yyzzfile_det_line {height:0px;text-align: left;}
.css_shzt_det_label {text-align: left;vertical-align: middle;}
.css_shzt_det_line {height:0px;text-align: left;}
.css_shr_det_label {text-align: left;vertical-align: middle;}
.css_shr_det_line {height:0px;text-align: left;}
.css_shyj_det_label {text-align: left;vertical-align: middle;}
.css_shyj_det_line {height:0px;text-align: left;}
.css_shsj_det_label {text-align: left;vertical-align: middle;}
.css_shsj_det_line {height:0px;text-align: left;}
