.css_gsmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_gsmc_grid_line {vertical-align: top;text-align: right;}
.css_fddbr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fddbr_grid_line {vertical-align: top;text-align: right;}
.css_zczb_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_zczb_grid_line {vertical-align: top;text-align: right;}
.css_lxr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxr_grid_line {vertical-align: top;text-align: right;}
.css_lxrdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_lxrdh_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_shzt_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_shzt_grid_line {vertical-align: top;text-align: right;}
.css_gsjc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_gsjc_grid_line {vertical-align: top;text-align: right;}
.css_tyshxydm_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tyshxydm_grid_line {vertical-align: top;text-align: right;}
.css_qylx_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qylx_grid_line {vertical-align: top;text-align: right;}
.css_gsdz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_gsdz_grid_line {vertical-align: top;text-align: right;}
.css_clrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_clrq_grid_line {vertical-align: top;text-align: center;}
.css_jyfw_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_jyfw_grid_line {vertical-align: top;text-align: right;}
.css_khyh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_khyh_grid_line {vertical-align: top;text-align: right;}
.css_yhdz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yhdz_grid_line {vertical-align: top;text-align: right;}
.css_yhzh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_yhzh_grid_line {vertical-align: top;text-align: right;}
.css_fax_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fax_grid_line {vertical-align: top;text-align: right;}
.css_bgdh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bgdh_grid_line {vertical-align: top;text-align: right;}
.css_bz_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_bz_grid_line {vertical-align: top;text-align: right;}
