.css_htbh_det_label {text-align: left;vertical-align: middle;}
.css_htbh_det_line {height:0px;text-align: left;}
.css_htmc_det_label {text-align: left;vertical-align: middle;}
.css_htmc_det_line {height:0px;text-align: left;}
.css_cgbbh_det_label {text-align: left;vertical-align: middle;}
.css_cgbbh_det_line {height:0px;text-align: left;}
.css_cgbmc_det_label {text-align: left;vertical-align: middle;}
.css_cgbmc_det_line {height:0px;text-align: left;}
.css_htje_det_label {text-align: left;vertical-align: middle;}
.css_htje_det_line {height:0px;text-align: left;}
.css_ysjg_det_label {text-align: left;vertical-align: middle;}
.css_ysjg_det_line {height:0px;text-align: left;}
.css_ysjd_det_label {text-align: left;vertical-align: middle;}
.css_ysjd_det_line {height:0px;text-align: left;}
.css_ysfzr_det_label {text-align: left;vertical-align: middle;}
.css_ysfzr_det_line {height:0px;text-align: left;}
.css_sjysrq_det_label {text-align: left;vertical-align: middle;}
.css_sjysrq_det_line {height:0px;text-align: left;}
.css_ysdjrq_det_label {text-align: left;vertical-align: middle;}
.css_ysdjrq_det_line {height:0px;text-align: left;}
.css_dlr_det_label {text-align: left;vertical-align: middle;}
.css_dlr_det_line {height:0px;text-align: left;}
.css_dlsj_det_label {text-align: left;vertical-align: middle;}
.css_dlsj_det_line {height:0px;text-align: left;}
