.css_htmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htmc_grid_line {vertical-align: top;text-align: right;}
.css_htbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_htbh_grid_line {vertical-align: top;text-align: right;}
.css_ysjg_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ysjg_grid_line {vertical-align: top;text-align: right;}
.css_ysjd_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ysjd_grid_line {vertical-align: top;text-align: right;}
.css_ysfzr_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ysfzr_grid_line {vertical-align: top;text-align: right;}
.css_ysdjrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_ysdjrq_grid_line {vertical-align: top;text-align: center;}
.css_cgbbh_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbbh_grid_line {vertical-align: top;text-align: right;}
.css_cgbmc_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cgbmc_grid_line {vertical-align: top;text-align: right;}
.css_htje_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_htje_grid_line {vertical-align: top;text-align: right;}
.css_sjysrq_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_sjysrq_grid_line {vertical-align: top;text-align: center;}
.css_dlsj_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_dlsj_grid_line {vertical-align: top;text-align: center;}
